
ul {
    background-color: #05386B;
    list-style-type: none;
  }
  
.navbar-default {
    background-color: #564F6F;
}

.navbar-default .navbar-brand {
  color: #D1D7E0;}

.content-wrapper, .right-side {
  background-color: rgb(255,0,0);
}

  
body {
  background-color: #2D283E;
}
  
h1, p, div {
  color: #D1D7E0;
}


   /* unvisited link */
a:link {
    color: #2E9CCA;
  }
  
  /* visited link */
  a:visited {
    color: #2E9CCA;
  }
  
  /* mouse over link */
  a:hover {
    color:#FFFFFF ;
  }
  
  /* selected link */
  a:active {
    color: #de68b7;
  } 